:root {
    
    /* Nuevas variables específicas para el footer */
    --footer-bg: #062265;
    --footer-text: var(--white);
    --footer-border: rgba(255, 255, 255, 0.1);
    --footer-highlight: var(--mint-green);
    --footer-lower-bg: #192b4e;
    --footer-input-border: rgba(255, 255, 255, 0.5);
  }
  
  /*==========================================
  #1.2 footer-area 
  ==========================================*/
  
  .wpo-site-footer {
      background: var(--footer-bg);
      position: relative;
      font-size: 15px;
      overflow: hidden;
      color: var(--footer-text);
  }
  
  .wpo-ne-footer {
      background: var(--footer-bg);
  }
  
  .wpo-site-footer-2 {
      background: #fcfcfc;
  }
  
  .footer-middle {
      padding-top: 100px;
  }
  
  .wpo-site-footer ul,
  .wpo-site-footer-2 ul {
      list-style: none;
  }
  
  .wpo-site-footer p,
  .wpo-site-footer li {
      color: var(--footer-text);
  }
  
  .wpo-site-footer-2 p,
  .wpo-site-footer-2 li {
      color: #444444;
  }
  
  .wpo-site-footer .container,
  .wpo-site-footer-2 .container {
      position: relative;
  }
  
  .wpo-site-footer .wpo-upper-footer,
  .wpo-site-footer-2 .wpo-upper-footer {
      padding: 40px 0 70px;
      background: url(../../images/footer.jpg) center center/cover no-repeat local;
  }
  
  @media (max-width: 991px) {
      .wpo-site-footer .wpo-upper-footer,
      .wpo-site-footer-2 .wpo-upper-footer {
          padding: 70px 0;
          padding-bottom: 0;
      }
  }
  
  @media (max-width: 767px) {
      .wpo-site-footer .wpo-upper-footer,
      .wpo-site-footer-2 .wpo-upper-footer {
          padding: 40px 0;
      }
  }
  
  @media (max-width: 991px) {
      .wpo-site-footer .wpo-upper-footer .col,
      .wpo-site-footer-2 .wpo-upper-footer .col {
          min-height: 235px;
          margin-bottom: 70px;
      }
  }
  
  @media (max-width: 767px) {
      .wpo-site-footer .wpo-upper-footer .col,
      .wpo-site-footer-2 .wpo-upper-footer .col {
          min-height: auto;
          margin-bottom: 20px;
      }
  
      .footer-middle {
          padding-top: 70px;
      }
  }
  
  .wpo-site-footer .widget-title,
  .wpo-site-footer-2 .widget-title {
      margin-bottom: 30px;
  }
  
  @media (max-width: 767px) {
      .wpo-site-footer .widget-title,
      .wpo-site-footer-2 .widget-title {
          margin-bottom: 20px;
      }
  }
  
  .wpo-site-footer .widget-title h3,
  .wpo-site-footer-2 .widget-title h3 {
      font-size: 23px;
      font-weight: bold;
      color: var(--footer-text);
      margin: 0;
      text-transform: capitalize;
      position: relative;
  }
  
  .wpo-site-footer-2 .widget-title h3 {
      color: #2d4277;
  }
  
  @media (max-width: 991px) {
      .wpo-site-footer .widget-title h3,
      .wpo-site-footer-2 .widget-title h3 {
          font-size: 20px;
      }
  }
  
  .wpo-site-footer .about-widget .logo {
      max-width: 180px;
  }
  
  .wpo-site-footer .about-widget ul,
  .wpo-site-footer-2 .about-widget ul {
      overflow: hidden;
      padding-top: 10px;
  }
  
  .wpo-site-footer .about-widget ul li,
  .wpo-site-footer-2 .about-widget ul li {
      font-size: 22px;
      float: left;
  }
  
  .wpo-site-footer .about-widget ul > li + li,
  .wpo-site-footer-2 .about-widget ul > li + li {
      margin-left: 25px;
  }
  
  .wpo-site-footer .about-widget ul a {
      color: var(--footer-text);
  }
  
  .wpo-site-footer-2 .about-widget ul a {
      color: #404040;
  }
  
  .wpo-site-footer .about-widget ul a:hover,
  .wpo-site-footer-2 .about-widget ul a:hover {
      color: var(--footer-highlight);
  }
  
  .wpo-site-footer-2 .about-widget ul a {
      color: var(--footer-highlight);
  }
  
  .wpo-footer-top {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--footer-border);
  }
  
  .wpo-footer-top ul {
      display: flex;
      justify-content: flex-end;
  }
  
  .wpo-footer-top ul li {
      margin-right: 10px;
  }
  
  .wpo-footer-top ul li a {
      display: block;
      width: 60px;
      height: 60px;
      background: rgba(255, 255, 255, 0.1);
      text-align: center;
      line-height: 65px;
      border-radius: 50%;
      font-size: 20px;
      color: var(--footer-text);
      transition: all 0.3s;
  }
  
  .wpo-footer-top ul li a:hover {
      background: var(--footer-text);
      color: var(--footer-bg);
  }
  
  .wpo-site-footer .link-widget,
  .wpo-site-footer-2 .link-widget {
      overflow: hidden;
  }
  
  @media screen and (min-width: 1200px) {
      .wpo-site-footer .link-widget {
          padding-left: 20px;
      }
  
      .wpo-site-footer-2 .link-widget {
          padding-left: 10px;
      }
  }
  
  @media (max-width: 1199px) {
      .wpo-site-footer .link-widget,
      .wpo-site-footer-2 .link-widget {
          padding-left: 20px;
      }
  }
  
  @media (max-width: 991px) {
      .wpo-site-footer .link-widget,
      .wpo-site-footer-2 .link-widget {
          padding-left: 0;
      }
  }
  
  @media (max-width: 767px) {
      .wpo-site-footer .link-widget,
      .wpo-site-footer-2 .link-widget {
          max-width: 350px;
      }
  }
  
  @media (max-width: 620px) {
      .wpo-footer-top ul {
          justify-content: flex-start;
      }
  }
  
  .wpo-site-footer .link-widget ul a,
  .wpo-site-footer-2 .link-widget ul a {
      color: var(--footer-text);
  }
  
  .wpo-site-footer-2 .link-widget ul a {
      color: #404040;
  }
  
  .wpo-site-footer .link-widget ul a:hover,
  .wpo-site-footer-2 .link-widget ul a:hover,
  .wpo-site-footer .link-widget ul li:hover:before,
  .wpo-site-footer-2 .link-widget ul li:hover:before {
      color: var(--footer-highlight);
      text-decoration: underline;
  }
  
  .wpo-site-footer .link-widget ul > li + li,
  .wpo-site-footer-2 .link-widget ul > li + li {
      margin-top: 15px;
  }
  
  .wpo-site-footer .contact-ft ul li .fi:before,
  .wpo-site-footer-2 .contact-ft ul li .fi:before {
      font-size: 20px;
      margin-right: 15px;
  }
  
  .wpo-site-footer .contact-ft ul li,
  .wpo-site-footer-2 .contact-ft ul li {
      padding-bottom: 10px;
  }
  
  .wpo-site-footer .contact-ft,
  .wpo-site-footer-2 .contact-ft {
      margin-top: 20px;
  }
  
  .wpo-site-footer .wpo-lower-footer,
  .wpo-site-footer-2 .wpo-lower-footer {
      text-align: center;
      position: relative;
      background: var(--footer-lower-bg);
  }
  
  .wpo-site-footer .wpo-lower-footer .row,
  .wpo-site-footer-2 .wpo-lower-footer .row {
      padding: 20px 0;
      position: relative;
  }
  
  .wpo-site-footer .wpo-lower-footer .copyright, 
  .wpo-site-footer-2 .wpo-lower-footer .copyright {
      display: inline-block;
      font-size: 15px;
      margin: 0;
      text-align: right;
      justify-content: flex-end;
      display: flex;
  }
  
  .wpo-site-footer .wpo-lower-footer .term ul {
      text-align: left;
      margin-bottom: 0;
      margin-top: 9px;
  }
  
  .wpo-site-footer .wpo-lower-footer .term ul li {
      display: inline-block;
      margin-right: 10px;
  }
  
  .wpo-site-footer .wpo-lower-footer .term ul li a {
      color: var(--footer-text);
  }
  
  @media (max-width: 991px) {
      .wpo-site-footer .wpo-lower-footer .copyright,
      .wpo-site-footer-2 .wpo-lower-footer .copyright {
          float: none;
          display: block;
      }
  }
  
  .wpo-site-footer .wpo-lower-footer .copyright a,
  .wpo-site-footer-2 .wpo-lower-footer .copyright a {
      color: var(--footer-text);
      text-decoration: underline;
  }
  
  .wpo-site-footer .news-text h3 {
      color: var(--footer-text);
      font-size: 16px;
      font-weight: 600;
      margin-top: -5px;
      line-height: 25px;
      margin-bottom: 0px;
  }
  
  .wpo-site-footer .news-text span {
      color: #ccc;
      font-size: 12px;
  }
  
  .wpo-site-footer .news-text h2 {
      font-size: 20px;
      margin-top: 10px;
      color: var(--footer-highlight);
  }
  
  .wpo-site-footer .news-text {
      overflow: hidden;
      padding-left: 10px;
  }
  
  .wpo-site-footer .news-wrap {
      overflow: hidden;
      margin-bottom: 20px;
  }
  
  .wpo-site-footer .news-img {
      float: left;
  }
  
  .wpo-site-footer .newsletter-widget form input {
      background-color: transparent;
      height: 50px;
      color: var(--footer-text);
      padding: 6px 20px;
      border: 1px solid var(--footer-input-border);
      box-shadow: none;
      border-radius: 0;
      position: relative;
  }
  
  .wpo-site-footer .newsletter-widget form button {
      background-color: transparent;
      height: 50px;
      color: var(--footer-text);
      padding: 6px 20px;
      background: var(--footer-highlight);
      box-shadow: none;
      border-radius: 0;
      position: relative;
      width: 100%;
      margin-top: 30px;
      text-align: left;
      border: none;
      text-transform: uppercase;
      transition: all 0.3s;
  }
  
  .wpo-site-footer .newsletter-widget form button:hover {
      background: var(--deep-teal);
  }
  
  .wpo-site-footer .newsletter-widget form button:focus {
      outline: none;
  }
  
  .wpo-site-footer .newsletter-widget form button i {
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      background: var(--deep-teal);
      line-height: 50px;
      text-align: center;
      top: 0;
  }
  
  @media (max-width: 767px) {
      .wpo-site-footer .wpo-lower-footer .term ul {
          text-align: center;
      }
      
      .wpo-site-footer .wpo-lower-footer .copyright, 
      .wpo-site-footer-2 .wpo-lower-footer .copyright {
          justify-content: center;
          text-align: center;
          font-size: 14px;
      }
      
      .wpo-site-footer .wpo-lower-footer .term ul li a {
          font-size: 14px;
      }
  }
  
  /*====================================
  #2.0 Home-style-2
  =====================================*/
  
  .wpo-about-area .row,
  .wpo-about-area-2 .row {
      display: flex;
      align-items: center;
  }
  
  .wpo-about-area-2 .wpo-about-text {
      text-align: center;
  }
  
  .wpo-about-area-2 .wpo-section-title {
      text-align: center;
  }
  
  .wpo-about-area-2 .wpo-about-text .btns {
      justify-content: center;
  }
  
  .wpo-about-area-2 .wpo-about-text {
      padding-left: 45px;
  }
  
  @media (max-width: 991px) {
      .wpo-about-area .row,
      .wpo-about-area-2 .row {
          display: unset;
          align-items: center;
      }
      
      .wpo-about-area-2 .wpo-about-text {
          padding-left: 0;
      }
  }